body {
    font-family: 'Poiret One', cursive !important;
    margin: 0 !important;
    padding: 0;
}

@-webkit-keyframes beat {
  0% {-webkit-transform: scale(1)
    rotate(225deg); -webkit-box-shadow:0 0
      40px rgba(213,9,60,1);}
  50% {-webkit-transform: scale(1.1)
    rotate(225deg); -webkit-box-shadow:0 0
      70px rgba(213,9,60,0.6);}
  100% {-webkit-transform: scale(1)
    rotate(225deg); -webkit-box-shadow:0 0
      40px rgba(213,9,60,1);}
}

@-moz-keyframes beat {
  0% {-moz-transform: scale(1)
    rotate(225deg); -moz-box-shadow:0 0
      40px rgba(213,9,60,1);}
  50% {-moz-transform: scale(1.1)
    rotate(225deg); -moz-box-shadow:0 0
      70px rgba(213,9,60,0.6);}
  100% {-moz-transform: scale(1)
    rotate(225deg); -moz-box-shadow:0 0
      40px rgba(213,9,60,1);}
}

@keyframes beat {
  0% {transform: scale(1)
    rotate(225deg); box-shadow:0 0
      40px rgba(213,9,60,1);}
  50% {transform: scale(1.1)
    rotate(225deg); box-shadow:0 0
      70px rgba(213,9,60,0.6);}
  100% {transform: scale(1)
    rotate(225deg); box-shadow:0 0
      40px rgba(213,9,60,1);}
}

#chest {
  position: relative;
  width: 500px;
  height: 450px;
  margin: 0 auto;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
  display: none;
}

#insertdata {
    width: 280px;
    padding: 10px;
    margin: 50px auto 0 auto;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    outline-style: none;
    border: 1px dashed #888888;
    display: block;
}

#buton {
    height: 40px;
    width: 300px;
    color: white;
    margin: 15px auto;
    background: -moz-linear-gradient(-180deg, #f50a45 0%, #d5093c 40%);
    background: -webkit-gradient(linear, right 50%, left 50%, color-stop(0%,#f50a45), color-stop(40%,#d5093c));
    background: -webkit-linear-gradient(-180deg, #f50a45 0%,#d5093c 40%);
    background: linear-gradient(-180deg, #f50a45 0%, #d5093c 40%);
    outline-style: none;
    border-style: none;
    font-family: Arial;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    text-transform: lowercase;
    letter-spacing: 1px;
    display: block;
    border-radius: 2px;
}

#lma {
    line-height: 200px;
    width: 100%;
    display: none;
    font-size: 7vw;
    font-family: 'Poiret One', cursive;
    text-align: center;
    color: black;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 4s; /* Firefox < 16 */
          -ms-animation: fadein 4s; /* Internet Explorer */
           -o-animation: fadein 4s; /* Opera < 12.1 */
              animation: fadein 4s;
}

#ziua {
    font-size: 5vw;
    color: #ececec;
    display: none;
    user-select: none;
    cursor: default;
    text-align: center;
    padding-bottom: 50px;
}

#overlay {
    width: 100vw;
    height: 100vh;
    display: none;
}

#welcome {
    position: absolute;
    top: 45vh;
    width: 100vw;
    text-align: center;
    font-size: 44px;
    color: #2d2d2d;
    user-select: none;
}

#bothbuttons {
    position: absolute;
    top: 53vh;
    width: 100vw;
    text-align: center;
    font-size: 44px;
    color: #2d2d2d;
    user-select: none;
}

#leftbutton {
    float: left;
    width: 48vw;
    padding-right: 2vw;
    height: 44px;
    line-height: 44px;
    text-align: right;
    font-size: 34px;
    user-select: none;
    cursor: pointer;
}

#rightbutton {
    float: right;
    width: 48vw;
    padding-left: 2vw;
    height: 44px;
    line-height: 44px;
    text-align: left;
    font-size: 34px;
    user-select: none;
    cursor: pointer;
}

#roman {
    display: none;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
    line-height: 40px;
    font-size: 28px;
    color: black;
    font-family: 'Poiret One', cursive !important;
}

#incentive {
    min-width: 300px;
    max-width: 576px;
    padding: 10px;
    margin: 100px auto 50px auto;
    color: black;
    font-weight: 400;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
}

#demo {
    min-width: 300px;
    max-width: 576px;
    padding: 10px;
    margin: 30px auto;
    text-align: center;
    font-weight: 400;
    font-family: monospace;
    font-size: 14px;
}

.heart {
  position: absolute;
  z-index: 2;
  background: -moz-linear-gradient(-180deg, #f50a45 0%, #d5093c 40%);
  background: -webkit-gradient(linear, right 50%, left 50%, color-stop(0%,#f50a45), color-stop(40%,#d5093c));
  background: -webkit-linear-gradient(-180deg, #f50a45 0%,#d5093c 40%);
  background: linear-gradient(-180deg, #f50a45 0%, #d5093c 40%);
  -webkit-animation: beat 0.7s ease 0s infinite normal;
  -moz-animation: beat 0.7s ease 0s infinite normal;
  animation: beat 0.7s ease 0s infinite normal;
}

.heart.center {
  background: -moz-linear-gradient(-45deg, #b80734 0%, #d5093c 40%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b80734), color-stop(40%,#d5093c));
  background: -webkit-linear-gradient(-45deg, #b80734 0%,#d5093c 40%);
  background: linear-gradient(-45deg,#b80734 0%,#d5093c 40%);
}

.heart.top {
  z-index: 3;
}

.side {
  top: 50px;
  width: 220px;
  height: 220px;
  -moz-border-radius: 220px;
  -webkit-border-radius: 220px;
  border-radius: 220px;
}

.center {
  width: 210px;
  height: 210px;
  bottom: 100px;
  left: 145px;
  font-size: 0;
  text-indent: -9999px;
}

.left {
  left: 62px;
}

.right {
  right: 62px;
}

p.left {
  float: left;
  margin-left: 45px;
}
p.right {
  float: right;
  margin-right: 30px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
